In [5]:
import pandas as pd

In [6]:
data = [
    ("Dexter","Johnsons","dog","shiba inu","red sesame",1.5,35,"m",False,"both",True),
    ("Alfred","Johnsons","cat","mix","tuxedo",4,12,"m",True,"indoor",True),
    ("Petra","Smith","cat","ragdoll","calico",None,10,"f",False,"both",True),
    ("Ava","Smith","dog","mix","blk/wht",12,32,"f",True,"both",False),
    ("Schroder","Brown","cat","mix","orange",13,15,"m",False,"indoor",True),
    ("Blackbeard","Brown","bird","parrot","multi",5,3,"f",False,"indoor",),
]

In [7]:
labels = ["name", "owner", "type", "breed", "color", "age", "weight", "gender", "health issues", "indoor/outdoor", "vaccinated"]

In [8]:
vet_records = pd.DataFrame(data, columns=labels)
vet_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [11]:
vet_records_archive = vet_records

In [12]:
weight_records = vet_records['weight']
weight_records

0    35
1    12
2    10
3    32
4    15
5     3
Name: weight, dtype: int64

In [15]:
dog_weight_records = vet_records[vet_records['type'] == 'dog']['weight']
dog_weight_records = vet_records['weight'][vet_records['type'] == 'dog']
dog_weight_records = vet_records.weight[vet_records.type == 'dog']
dog_weight_records

0    35
3    32
Name: weight, dtype: int64

In [17]:
dogs_records = vet_records[vet_records.type == 'dog']
dogs_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False

In [ ]:
# loc slicing [(index rows), (columns labels)]
loc_records = vet_records.loc[2:3, ["name", "owner"]]
loc_records

    name  owner
2  Petra  Smith
3    Ava  Smith

In [ ]:
# iloc slicing [(index rows), (index columns)]
iloc_records = vet_records.iloc[[2,3], [4,5]]
iloc_records

     color   age
2   calico   NaN
3  blk/wht  12.0

In [22]:
dexter_blackbeard_records = vet_records[vet_records.name.isin(["Dexter", "Blackbeard"])]
dexter_blackbeard_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [23]:
not_dexter_blackbeard_records = vet_records[~vet_records.name.isin(["Dexter", "Blackbeard"])]
not_dexter_blackbeard_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True