In [2]:
import pandas as pd

In [3]:
data = [
    ("Dexter","Johnsons","dog","shiba inu","red sesame",1.5,35,"m",False,"both",True),
    ("Alfred","Johnsons","cat","mix","tuxedo",4,12,"m",True,"indoor",True),
    ("Petra","Smith","cat","ragdoll","calico",None,10,"f",False,"both",True),
    ("Ava","Smith","dog","mix","blk/wht",12,32,"f",True,"both",False),
    ("Schroder","Brown","cat","mix","orange",13,15,"m",False,"indoor",True),
    ("Blackbeard","Brown","bird","parrot","multi",5,3,"f",False,"indoor",),
]

In [4]:
labels = ["name", "owner", "type", "breed", "color", "age", "weight", "gender", "health issues", "indoor/outdoor", "vaccinated"]

In [5]:
vet_records = pd.DataFrame(data, columns=labels)
vet_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [7]:
vet_records.head()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True

In [8]:
vet_records.tail()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [9]:
vet_records.dtypes

name               object
owner              object
type               object
breed              object
color              object
age               float64
weight              int64
gender             object
health issues        bool
indoor/outdoor     object
vaccinated         object
dtype: object

In [10]:
vet_records.type.count()

np.int64(6)

In [11]:
vet_records.vaccinated.count()

np.int64(5)

In [12]:
vet_records.groupby("type").count()

,name,owner,breed,color,age,weight,gender,health issues,indoor/outdoor,vaccinated
type,,,,,,,,,,
bird,1,1,1,1,1,1,1,1,1,0
cat,3,3,3,3,2,3,3,3,3,3
dog,2,2,2,2,2,2,2,2,2,2

In [13]:
vet_records.type.value_counts()

type
cat     3
dog     2
bird    1
Name: count, dtype: int64